extends layout

block content
  h1= title
  p Welcome to #{title}

  p In case you got questions to that project, contact the person behind that GitHub Repository 
    a(href="https://github.com/Safari92/random-sequelize") https://github.com/Safari92/random-sequelize
